* {
    box-sizing: border-box;
}
body {
    background-color: #e899dc;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    padding-top: 3rem;
}

.note {
    background-color: #ffffff;
    height: 100%;
    width: 400px;
    margin: 20px;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.1);
}
.note .tools {
    padding: 0.5rem;
    background-color: rgb(71, 207, 132);
    display: flex;
    justify-content: flex-end;
}
.note .tools button {
    margin: 0.2rem;
    font-size: 1.3rem;
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}
.edit {
}
.fas {
}
.fa-edit {
}
.delete {
}
.fa-trash-alt {
}
.note .main {
    width: 100%;
    height: 400px;
    background-color: #eee;
    overflow: hidden;
}
.note .textarea {
    width: 100%;
    height: 400px;
    border: none;
    outline: none;
    font-size: 1.3rem;
}
.note .hidden {
    display: none;
}
.add {
    padding: 0.7rem 1rem;
    border-radius: 3px;
    background-color: rgb(102, 207, 255);
    color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    position: fixed;
    right: 1rem;
    top: 1rem;
}